h3 {
  font-weight: 800 !important;
}

p {
  margin-bottom: 0.6rem;
  line-height: 1.3;
}

.control-label {
  color: #666666;
  font-weight: 600;
}
    
.selectize-input {
  border: solid 1px #444444;
}

.azar {
  text-align: right; margin-top: -8px;
}